/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #c30000;
    margin: 20px;
    padding: 20px;
}

h1 {
    color: #007bff;
}

p {
    line-height: 1.6;
    color: #333;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
